# torch==2.1.2+cu121
# torchvision==2.1.2+cu121
# torchaudio==0.16.2+cu121
transformers
numpy
matplotlib
pandas
tensorflow
keras
openpifpaf
python-dotenv
selenium
opencv-python
scikit-learn
plotly
ultralytics
git+https://github.com/developer0hye/onepose.git